<div class="container">
    <div class="row">
        <h2>Suba sus dos archivos excel para efectuar la operacion.</h2>
        <h6>
            Para realizar las siguientes operaciones por favor verifique que sus matrices sean cuadradas Para el caso de la multiplicacion entre matrices verifique que la cantidad de columnas de A sea igual a la cantidad de filas de B. <br>
            <B>
            Para la resolucion de ecuaciones lineales solo introduzca los valores de las constantes dejando solamente su notación en matrices.
            La respuesta se la dara en una fila por cada incognita.
            </B>
        </h6>
    </div>
    <div class="row">

        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Suba su archivo (A) .xlsx</h5>
                        <input class="btn-success " type="file" (change)="onFileChange($event)" multiple="false" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Suba su archivo (B) .xlsx</h5>
                        <input class="btn-success " type="file" (change)="onFileChange($event)" multiple="false" />
                    </div>
                </div>
                <div>
                    <input (click)="operacion('+')" type="submit" value="Sumar" class="btn btn-outline-success miBtn">
                    <input (click)="operacion('-')" type="submit" value="Restar" class="btn btn-outline-info miBtn">
                    <input (click)="operacion('*')" type="submit" value="Multiplicar" class="btn btn-outline-danger miBtn">
                    <hr>
                    <input (click)="operacion('lineal')" type="submit" value="Resolver el sistema de ecuaciones de la forma A*X=B" class="btn btn-warning miBtn">
                </div>
            </div>
        </form>
    </div>
    <app-resultado class="col-6" [matriz_resultado]="resultado" [mensaje]="mensaje"></app-resultado>

</div>